body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('/static/cinema/background.jpg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff5733;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #e84118;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    margin: 100px auto 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

header, footer {
    width: 100%;
}

h2 {
    color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.session-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.session-item {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.session-movie {
    font-weight: bold;
    font-size: 18px;
}

.session-hall, .session-time, .session-price {
    font-size: 16px;
    color: #555;
}

.session-item:hover {
    background-color: rgba(245, 245, 245, 0.9);
}
